/* index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.chart-container {
  margin: 20px 0;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pie-chart {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
}
